<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs') %>
</head>

<body>
  <% if (locals.user) { %>
  <%- include('../partials/header', {user: user, cart: cart}) %>
  <% } else { %>
  <%- include('../partials/header') %>
  <% } %>
  <hr>
  <h3>Users</h3>
  <%- include ('../components/user_table', {users}); %>
  <h3>Orders</h3>
  <%- include ('../components/orders_table', {orders}); %>
  <h3>Sales</h3>
  <%- include ('../components/sales_table', {sales}); %>
  <hr>
  <%- include ('../partials/footer'); %>
</body>
<script src="scripts/scripts.js"></script>
<script src="scripts/admin.js"></script>

</html>