<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <%- include('../partials/header') %>
  <h2 class="header pt-serif-bold" id="genre-title">
    Genres
  </h2>
  <div class="category container">
    <% locals.categories && categories.forEach(category => { %>
    <div class="category card">
      <div class="category image-container">
        <img src="<%= category.image_link %>" alt="<%= category.name %> Image">
      </div>
      <h3 class="pt-serif-regular category title"><%= category.name %></h3>
    </div>
    <% }); %>
  </div>
  <div class="advert top">
    <% locals.adverts && adverts.forEach(advert => { %>
    <img src="<%= advert.image_link %>" alt="<%= advert.description %>">
    <% }); %>
  </div>
</body>

</html>