<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <%- include('../partials/header') %>
  <h2 class="header pt-serif-bold" id="genre-title">
    Genres
  </h2>
  <div class="category container">
    <% locals.categories && categories.forEach(category => { %>
    <div class="category card">
      <div class="category image-container">
        <img src="<%= category.image_link %>" alt="<%= category.name %> Image">
      </div>
      <h3 class="pt-sans-regular category title"><%= category.name %></h3>
    </div>
    <% }); %>
  </div>

  <div class="advert top">
    <% locals.adverts && adverts.forEach(advert => { %>
    <img src="<%= advert.image_link %>" alt="<%= advert.description %>">
    <% }); %>
  </div>

  <% locals.categories && categories.forEach(category => { %>
  <h2 class="header pt-serif-bold" id="genre-title">
    <%= category.name %>
  </h2>
  <button class="category pt-sans-regular">Explore More</button>
  <div class="books scroll">
    <% locals.books && books.forEach(book => { %>
    <% if (book.name === category.name) { %>
    <div class="books card container">
      <div class="books cover container">
        <img src="<%= book.cover_link %>" alt="<%= book.title %> Cover Image">
      </div>
      <h5 class="pt-sans-regular"><%= book.author %></h5>
      <h4 class="pt-sans-bold"><%= book.title %></h4>
      <div class="text container">
        <h6 class="pt-sans-regular">R<%= Number(book.price).toFixed(2) %></h6>
        <p>*****</p>
      </div>
    </div>
    <% } %>
    <% }); %>
  </div>
  <% }); %>

</body>

</html>