<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <% if (locals.user) { %>
  <%- include('../partials/header', {user: user, cart: cart}) %>
  <% } else { %>
  <%- include('../partials/header') %>
  <% } %>
  <hr>
  <%- include('../components/categories') %>
  <hr>
  <main>
    <%- include('../components/book_collection', {books, categories}) %>
  </main>
  <%- include('../partials/footer') %>
</body>
<script src="scripts/scripts.js"></script>
<script src="scripts/home.js"></script>

</html>