<div class="book-collection-item">
  <a href="/book/<%= book.id %>">
    <img src="https://covers.openlibrary.org/b/id/<%= book.cover_id %>-M.jpg" />
  </a>
  <div class="book-content">
    <a href="/book/<%= book.id %>">
      <h3><%= book.title %></h3>
    </a>
    <h4><%= book.author %> <%= book.publish_year %></h4>
    <p>R<%= book.price %><br /></p>
  </div>
</div>