<style>
    a.button {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
  }
</style>
<div class="book-focus">
  <div class="cover-focus">
    <img id="cover"
        src="https://covers.openlibrary.org/b/id/<%= book.cover_id %>-L.jpg" />
  </div>
  <div class="book-info-focus">
    <h3><%= book.title %></h3>
    <h4><%= book.author %> <%= book.publish_year %></h4>
  </div>

  <div class="abstract-focus">
    <p><%= book.abstract %></p>
  </div>

  <div class="price-focus">
    <p><strong>R<%= book.price %></strong></p>
    <% if (locals.user) { %>
    <button onclick="addToCart(<%= user.id %>, <%= book.id %>)">Add to
      Cart</button>
    <% } else { %>
    <a href="/login" class="button">Add to Cart</a>
    <% } %>
  </div>
</div>
<script>
  async function addToCart(userId, bookId) {
    console.log("updating cart");
    const RESPONSE = await fetch("/add_cart", {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
        book_id: bookId,
        user_id: userId,
      })
    });
    if (RESPONSE.status === 200) {
      await updateCart(
        userId); // Ensure the cart updates only after the request succeeds
    } else {
      console.error("Failed to add to cart:", RESPONSE.status);
    }
  }

</script>