<table>
  <tr>
    <th>email</th>
    <th>role</th>
  </tr>
  <% users.forEach((user) => { %>
  <tr>
    <td><%= user.email %></td>
    <td>
      <% roles.forEach(role => { %>
      <% if (role.role !== "user") { %>
      <%= role.role %>
      <input type="checkbox" class="role-checkbox" name="<%= role.role %>"
          id="<%= user.user_id %>-<%= role.id %>"
          <%= user.roles.includes(role.role) && "checked" %>
          onclick="updateRole('<%= user.user_id %>','<%= role.id %>')">
      <% } %>
      <% }) %>
    </td>
    <% }); %>
  </tr>
</table>

<script>
  const checkBoxes = document.querySelectorAll("input[type=checkbox]");

  async function updateRole(userId, roleId) {
    checkBox = document.getElementById(`${userId}-${roleId}`)

    checkBox.checked ? console.log(`${userId}-${roleId} Checked`) : console.log(
      `${userId}-${roleId} Unchecked`)
  }

  async function addRole(userId, roleId) {

  }

  async function removeRole(userId, roleId) {

  }
</script>