<table>
  <tr>
    <th>email</th>
    <th>role</th>
  </tr>
  <% users.forEach((user) => { %>
  <tr>
    <td><%= user.email %></td>
    <td>
      <% roles.forEach(role => { %>
      <% if (role.role !== "user") { %>
      <%= role.role %>
      <input type="checkbox" class="role-checkbox" name="<%= role.role %>"
          id="<%= user.user_id %>-<%= role.id %>"
          <%= user.roles.includes(role.role) && "checked" %>
          onclick="updateRole('<%= user.user_id %>','<%= role.id %>')">
      <% } %>
      <% }) %>
    </td>
    <% }); %>
  </tr>
</table>

<script>
  const checkBoxes = document.querySelectorAll("input[type=checkbox]");

  async function updateRole(userId, roleId) {
    checkBox = document.getElementById(`${userId}-${roleId}`)

    checkBox.checked ? addRole(userId, roleId) : removeRole(userId, roleId);
  }

  async function addRole(userId, roleId) {
    const result = await fetch(
      "http://localhost:6199/users/add-role", {
        method: "POST",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          user_id: userId,
          role_id: roleId
        }),
      });
    return await result.json()
  }

  async function removeRole(userId, roleId) {
    const result = await fetch(
      "http://localhost:6199/users/remove-role", {
        method: "DELETE",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          user_id: userId,
          role_id: roleId
        }),
      });
    return await result.json()
  }
</script>